.example-fill-remaining-space {
  position: absolute;
  right: 0px;
  width: 190px;
  border: 0px;
  padding: 0px;
}

.text-center-align {
  margin-left: auto;
  margin-right: auto;
}

img {
    display: block;
    margin: auto;
    width: 30%;
}

.headerlink {
  color: white;
  text-decoration: none;
}

.profilecontainer {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}