<div class="panel panel-info">
  <div class="panel-heading">Adjust Search Criteria</div>

  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Find: </span>
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Budget: </span>
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Availability: </span>
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Interests: </span>
      <input type="text" class="form-control" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="panel-body">
    <div class="btn-group btn-group-default" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Update</button>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Event Name</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">More Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Event Name</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">More Info</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Event Name</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">More Info</a></p>
        </div>
      </div>
    </div>

  </div>
</div>