<div class="searchresultcontainer">
<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-card>
      <md-card-title>Search Adjust</md-card-title>
      <form (ngSubmit)="onSearch(form)" #form="ngForm">
        <md-input placeholder="Find" style="width: 100%" ngModel name="find"></md-input>
        <br>
        <md-input placeholder="budget" style="width: 100%" align="end" ngModel name="budget">
          <span md-prefix>$&nbsp;</span>
          <span md-suffix>.00</span>
        </md-input>
        <br>
        <md-input placeholder="Start (YYYY-MM-DD)" style="width: 100%" ngModel name="start"></md-input>
        <br>
        <md-input placeholder="End (YYYY-MM-DD)" style="width: 100%" ngModel name="end"></md-input>
        <br>
        <md-input placeholder="Interests" style="width: 100%" ngModel name="interests"></md-input>
        <br>
        <br>
        <div align="center"><button md-raised-button type="submit">Update</button></div>
      </form>
    </md-card>
  </md-sidenav>

<md-toolbar color="accent">
  <span><button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button></span>
  <span>&nbsp;&nbsp;&nbsp;<a class="headerlink"[routerLink]="['/']">VentureOut</a></span>

  <button md-button class="example-fill-remaining-space headerlink" [md-menu-trigger-for]="menu">Menu</button>
  <md-menu #menu="mdMenu">
      <button md-menu-item (click)="auth.login()" *ngIf="!auth.authenticated()"> Sign Up or Login</button>
      <button md-menu-item *ngIf="auth.authenticated()" [routerLink]="['/user']"> My Profile</button>
      <button md-menu-item *ngIf="auth.authenticated()"> Recommended </button>
      <button md-menu-item (click)="auth.logout()" *ngIf="auth.authenticated()"> Log Out </button>
  </md-menu>
</md-toolbar>

<div id="wrapper">
  <div id="columns">
      <div class="pin" *ngFor="let event of events">
        <img src={{event.imageUrl}}>
        <p><strong>{{event.eventStartTime | date:'yMMMdjms'}}</strong></p>
        <p>{{event.genre}}</p>
        <p>{{event.price? '$' + event.price.toFixed(2) : 'Ticket Pricing Unavailable'}}</p>
        <h4>{{event.name}}</h4>
        <md-card-content>

        </md-card-content>
        <md-card-actions>
              <button md-button><a href={{event.url}} target="_blank">TICKETS</a></button>
              <button md-button (click)="saveFavorite(event.eventId)">FAVORITE</button>
         </md-card-actions>
      </div>
  </div>
</div>

</md-sidenav-layout>
</div>
