<div class="codrops-top">
  <nav>
    <div class="nav-wrapper blue-grey darken-4 z-depth-2">
      <a class="headerlink">  <span><button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="tiny material-icons">menu</i>
      </button></span></a>
      <a class="headerlink"><i class="material-icons">local_activity</i></a>
      <a class="headerlink"[routerLink]="['/']">VentureOut</a>
      <ul id="nav-mobile" class="right">
        <li><a class="navsublink" *ngIf="auth.authenticated()" [routerLink]="['/user']">My Profile</a></li>
        <li>
          <a class="navsublink" (click)="auth.login()" *ngIf="!auth.authenticated()">Sign Up or Login</a>
          <a class="navsublink" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</a>
        </li>
        <li><a></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="searchresultcontainer" defaultOverlayTarget>
  <md-sidenav-layout>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
      <h5 style="text-align: center;">Search Adjust</h5>
      <div class="row">
        <form autocomplete="off" class="col s12" (ngSubmit)="onSearch(form)" #form="ngForm">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input id="find" type="text" ngModel name="find">
              <label for="find">Find</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">games</i>
              <input id="interests" type="text" ngModel name="interests">
              <label for="interests">Interests</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">today</i>
              <input id="start" type="text" ngModel name="start">
              <label for="start">Start (YYYY-MM-DD)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">today</i>
              <input id="end" type="text" ngModel name="end">
              <label for="end">End (YYYY-MM-DD)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="prefix">$</i>
              <input id="budget" type="text" ngModel name="budget">
              <label for="budget">Budget</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">my_location</i>
              <input id="location" type="text" ngModel name="location">
              <label for="location">Location</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button class="btn waves-effect orange darken-2" type="submit" style="width: 100%;">Search
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </md-sidenav>


    <div id="wrapper">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <div id="columns">
        <div class="pin" *ngFor="let event of events | paginate: { itemsPerPage: 50, currentPage: p }">
          <img src={{event.imageUrl}}>
          <div class="pincontent">
            <p style="font-size: 12px">{{event.eventStartTime | date:'yMMMdjms'}}</p>
            <p style="font-size: 12px">{{event.genre}}</p>
            <br>
            <p style="font-size: 15px"><b>{{event.name}}</b></p>
            <br>
            <div class="pin-iconbuttons">
              <a href={{event.url}} target="_blank"><i class="material-icons">receipt</i></a>
              <a (click)="onClickLoc(event)"><i class="material-icons">location_on</i></a>
              <a (click)="onClickPrice(event)"><i class="material-icons">monetization_on</i></a>
              <a (click)="saveFavorite(event)"><i class="material-icons">star</i></a>
            </div>
            <div id={{event.eventId}} style="display:none;">
              <p><b>{{event.price? '$' + event.price.toFixed(2) : 'Ticket Pricing Unavailable'}}</b></p>
            </div>
            <div id={{event._id}} style="display:none;" >
              <p><b>{{event.address? (event.address.street? "Address: " : "No address Info Available") : "No address Info Available"}}</b></p>
              <p><b>{{event.address? (event.address.street? event.address.street + "," : "") : ""}}</b></p>
              <p><b>{{event.address? (event.address.street? event.address.city + "," : "") : ""}}</b></p>
              <p><b>{{event.address? (event.address.street? event.address.state + "," : "") : ""}} {{event.address? (event.address.street? event.address.zip_code : "") : ""}}</b></p>
            </div>
          </div>
          <div id="{{'fava' + event.eventId}}" style="display:none;">
            <p>  Event Added to your Favorite!</p>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

  </md-sidenav-layout>
</div>