<div class="panel panel-info">
  <div class="panel-heading">- Search Event -</div>

  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Find: </label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Event Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Budget: </label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="300">
      </div>
      <hr>
      <div class="form-group">
        <label for="exampleInputEmail2">Availability: </label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="MM-DD-YYYY">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Interests: </label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Game">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
