.example-fill-remaining-space {
  position: absolute;
  right: 0px;
  width: 190px;
  border: 0px;
  padding: 0px;
}

.headerlink {
  color: white;
  text-decoration: none;
}

.searchbox {
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-30%);
  transform: translateX(-50%);
}

.cardtitletext {
  text-align: center;
}

.suggestions{
  border:solid 1px #f1f1f1;
  position:absolute;
  width:100%;
  background: white;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
}

.suggestions ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a{
  padding:5px;
  display: block;
  text-decoration: none;
  color:#7E7E7E;
}

.suggestions ul li a:hover{
  background-color: #f1f1f1;
}

.complete-selected {
  background-color: #f1f1f1;
}
