<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>


<div class="codrops-top">
  <nav>
    <div class="nav-wrapper blue-grey darken-4 z-depth-3">
      <a class="headerlink"><i class="material-icons">local_activity</i></a>
      <a class="headerlink"[routerLink]="['/']">VentureOut</a>
      <ul id="nav-mobile" class="right">
        <li><a class="navsublink" *ngIf="auth.authenticated()" [routerLink]="['/user']">My Profile</a></li>
        <li>
          <a class="navsublink" (click)="auth.login()" *ngIf="!auth.authenticated()">Sign Up or Login</a>
          <a class="navsublink" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</a>
        </li>
        <li><a></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="searchbox">
   <div class="card grey lighten-5 hoverable">
        <div class="card-content">
          <h5 style="text-align:center;">Search For Your Next Event</h5>
          <div class="row">
              <form autocomplete="off" class="col s12" (ngSubmit)="onSearch(form)" #form="ngForm">
                  <div class="row">
                      <div class="row">
                          <div class="input-field col s4">
                            <i class="material-icons prefix">grade</i>
                            <input id="find" type="text" ngModel name="find">
                            <label for="find">Find</label>
                          </div>

                          <div class="input-field col s4">
                            <i class="material-icons prefix">games</i>
                            <input id="interests" type="text" ngModel name="interests">
                            <label for="interests">Interests</label>
                          </div>

                          <div class="input-field col s4">
                            <i class="material-icons prefix">my_location</i>
                            <input id="location" type="text" ngModel name="location">
                            <label for="location">Location</label>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="input-field col s4">
                        <i class="material-icons prefix">today</i>
                        <input id="start" type="text" ngModel name="start">
                        <label for="start">Start (YYYY-MM-DD)</label>
                      </div>
                      <div class="input-field col s4">
                        <i class="material-icons prefix">today</i>
                        <input id="end" type="text" ngModel name="end">
                        <label for="end">End (YYYY-MM-DD)</label>
                      </div>
                      <div class="input-field col s4">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="budget" type="text" ngModel name="budget">
                        <label for="budget">Budget</label>
                      </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <button class="btn waves-effect orange darken-2" type="submit" style="width: 100%;">Search
                      </button>
                    </div>
                  </div>

              </form>
          </div>
        </div>
   </div>
  </div>
</div>

<!--
<div id="wrapper">
  <div id="columns">
      <div class="pin" *ngFor="let event of events">
        <img src={{event.imageUrl}}>
        <p><strong>{{event.eventStartTime | date:'yMMMdjms'}}</strong></p>
        <p>{{event.genre}}</p>
        <p>{{event.price? '$' + event.price.toFixed(2) : 'Ticket Pricing Unavailable'}}</p>
        <h4>{{event.name}}</h4>
        <md-card-content>

        </md-card-content>
        <md-card-actions>
              <button md-button><a href={{event.url}} target="_blank">TICKETS</a></button>
              <button md-button (click)="saveFavorite(event.eventId)">FAVORITE</button>
         </md-card-actions>
      </div>
  </div>
</div>
 -->
