<div class="codrops-top">
<md-toolbar color="warn">
  <span>VentureOut</span>
  <a href="#" class="example-fill-remaining-space">Sign Up or Login</a>
</md-toolbar>
</div>

<div class="container">
<md-card class="searchbox">
  <md-card-title>Search Criteria</md-card-title>
  <form (ngSubmit)="onSearch(form)" #form="ngForm">
    <table style="width: 85%" cellspacing="10"><tr>
      <td><md-input placeholder="Find" style="width: 80%" ngModel name="find"></md-input></td>
      <td>
        <md-input placeholder="Budget" style="width: 60%" align="end" ngModel name="budget">
          <span md-prefix>$&nbsp;</span>
          <span md-suffix>.00</span>
        </md-input></td>
    </tr></table>

    <table style="width: 100%" cellspacing="0"><tr>
      <td><md-input placeholder="Availability" style="width: 80%" ngModel name="availability"></md-input></td>
      <td>
        <md-input placeholder="Interests" style="width: 73%" ngModel name="interests"></md-input>
      </td>
      <td><button md-raised-button class="searchbutton" type="submit">Search</button></td>
    </tr></table>
  </form>
</md-card>
</div>