<div id="container">
  <div id="message">
    Here are some events for your area and within your city
    Please select the ones you like so we can start adjusting events based
    on your preferences!
  </div>
  <div id='columns'>
    <div class="pin" id="suggestions" *ngFor="let event of events">

        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src={{event.imageUrl}}>
              <span class="card-title">{{event.genre}}</span>
              <h4>{{event.name}}</h4>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn-large"
              (click)="onLike($event)">
                Like
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>




</div>
