#container {
  height: 100%;
  width: 90%;
  text-align: center;
}

#message {
  display:inline-block;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin-top: 5%;
  font-size: 20px;
  font-style: italic;
  font-family: serif;
  animation-duration: 4s;
  width: 45%;
}
#next {
  display: inline-block;
  margin-left: 10px
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: z;
  column-fill: auto;
  margin-top: 5%;
}



.pin {
  display: inline-block;
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
}
.pin img {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 375px) {
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}