
<div class="center">
    <div class="title animated fadeInDown">
      VENTURE OUT
    </div>
    <div class='message'>
      Hello!

     We want to provide you with the best recommendations, to start please enter in your zip code.
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <md-input
          type="number"
          id="location"
          formControlName="location"
          placeholder="Enter Zip Here"
        >
        </md-input>
        <div *ngIf="!myForm.controls['location'].valid ">
          invalid zipcode
        </div>
    </form>
</div>