

<div>

<!--             <div id="image_slider_right">
                <div id="sliderup" >
                    <figure>
  <div *ngFor="let trending of trendingWords">
                        <div class="img_up" >
                            <div class="divimgslideup_txt"  >
                                <p>{{ trending.word }}</p>
                            </div>
                        </div>

  </div>
                    </figure>

                </div>
            </div> -->
    <div class="container">
      <div class="marquee">
        <div class="trending">TRENDING:</div>
        <div *ngFor="let trending of trendingWords">
              <div class="trending">
                {{ trending.word }}
              </div>
        </div>
      </div>
    </div>

</div>
