<div id="container">
  <div id="message">
    Let's start off with some categories!
    Select 3 to continue!
    <button *ngIf="liked.length >= 3"
            id='next'
            (click)="goToNextPage()"
            md-raised-button>
      Next
    </button>
  </div>
  <div id='columns'>
    <div [attr.data-category]="category.genre" class="pin" id="suggestions" *ngFor="let category of categories">

    <img src={{category.imageUrl}}>
      <h4>{{category.genre}}</h4>

      <md-card-actions>
            <button md-button (click)="onLike(category.genre)" (click)="saveFavorite(event.eventId)">Like</button>
            <button md-button (click)="saveFavorite(event.eventId)">Don't Like</button>
       </md-card-actions>
    </div>

  </div>

</div>
